body {
    background: rgba(226, 193, 18, 1);
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
body,html{
    overflow: hidden;
}
#rec11, #rec12 {
    position: fixed;
    z-index: 10;
    text-align: center;
}

#rec11 {
    top: 0;
    left: 0;
}

#rec12 {
    bottom: 0;
    right: 0;
}

#main-container {
    max-width: 805px;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    margin-top: 70px;
    background-image: url("images/dramatic-sky-mountain-silhouette-sunset-stunning-generated-by-ai\ 2\ \(1\).png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 15;
}

.container1 {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(125, 120, 120, 1);
    box-shadow: 0px 0px 20px 0px rgba(125, 120, 120, 1);
    border-radius: 10px;
    width: 100vw;/*asdfghgfdsdfgh*/
    max-width: 700px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    position: relative;
}

.container-row {
    display: flex;
    justify-content: center;
    column-gap: 40px; 
    margin-top: 50px;
    flex-wrap: wrap; 
    /* margin-right: 50px; */
    margin-top: 0px;
}

.container2 {
    width: 100%;
    max-width: 300px;
    height: 175px; 
    border-radius: 10px;
    background: rgba(125, 120, 120, 0.1);
    border: 1px solid rgba(125, 120, 120, 1);
    box-shadow: 0px 0px 10px 0px rgba(125, 120, 120, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin-left: 10px;
}

.container3 {
    width: 100%;
    max-width: 300px;
    height: 175px; 
    border-radius: 10px;
    background: rgba(125, 120, 120, 0.1);
    border: 1px solid rgba(125, 120, 120, 1);
    box-shadow: 0px 0px 10px 0px rgba(125, 120, 120, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    

}

#cityName {
    color: rgba(255, 0, 107, 1);
    font-size: 25px;
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 5px;
}

#temperature {
    color: rgba(255, 200, 1, 1);
    font-size: 40px;
    width: fit-content;
    position: absolute;
    left: 10px;
    margin-top: 100px;
    margin-left: 50px;
    padding: 5px;
}

#description-info {
    color: white;
    font-size: medium;
    font-family: 'Work Sans';
    margin-top: 50px;
    margin-left: auto;
    margin-right: 50px;
    padding: 5px;
}

#weather-details-title {
    font-size: large;
    color: rgba(255, 255, 255, 1);
    margin-left: 80px;
    font-family: 'Work Sans';
}

.grid-item {
    background: rgba(0, 0, 0, 0.5);
    width: 75px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: small;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 10px;
    margin-left: 15px;
}

@media (max-width: 768px) {
    .grid-item {
        background: rgba(0, 0, 0, 0.5);
        width: 90px; 
        height: 80px;
        text-align: center;
        border-radius: 10px;
        color: white;
        font-size: small;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        padding: 10px;
    }
    #main-container {
        margin-top: 50px;
        padding: 10px;
    }
    .container1 {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    #cityName, #temperature {
        font-size: 20px;
        position: relative;
        margin: 10px;
    }
    #description-info {
        font-size: small;
        text-align: center;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .container-row {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    #weather-details-title {
        margin-left: 0;
        text-align: center;
        margin-bottom: 0px;
    }
    .container2 {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
    .container1{
        width: auto;
    }
}

@media (max-width: 480px) {
    #cityName, #temperature {
        font-size: 18px;
        margin: 5px;
    }
    #description-info {
        font-size: x-small;
    }
    .container2, .container3 {
        width: auto;
        margin: 10px 0;
    }
    .container2 {
        grid-template-columns: 1fr; 
        overflow: auto;
    }
    .grid-item {
        background: rgba(0, 0, 0, 0.5);
        width: auto;
        height: 80px;
        text-align: center;
        border-radius: 10px;
        color: white;
        font-size: small;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr; 
        padding: 10px;
    }
}


